<%- include('../layouts/adminHeader.ejs')-%> 
<section>
  <div class="container">
    <div class="d-flex justify-content-between">
      <div>
        <h4 style="color: #0e382e;"><b>Banner Details</b></h4>
      </div>
      <div id="searchContainer">
        <form class="form-inline" action="/admin/search/banner" method="GET" onsubmit="return serachValidation()">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query" id="searchInput">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </form>
        <div id="suggestionContainer" class="text-center text-black" style="display: none;"></div>
      </div>
      <div>
        <button data-toggle="modal" data-target="#newProduct" type="button" class="btn add-new" style="background-color: #0e382e;color: white;border-radius: 6px;"><i class="fa fa-plus"></i> Add New Banner</button>
      </div>      
    </div>    
    <table class="table mt-2">
      <thead style="border-bottom: solid #0e382e;border-top: solid #0e382e ">
        <tr style="color: #0e382e;font-weight: bolder;">
          <th scope="col">No</th>
          <th scope="col">Image</th>
          <th scope="col">Title</th>
          <th scope="col">Title color</th>
          <th scope="col">Status</th>          
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
      <% let i=1%>
      <% bannerData.forEach(banner=>{%>
        <tr >
          <td style="color: #0e382e"><%= i++ %></td>
          <td style="color: #0e382e"><img style="height: 50px;" src="<%= banner.image %>" alt=""></td>
          <td style="color: #0e382e"><%= banner.title%></td>
          <td><input type="color" value="<%= banner.titleColor%>" disabled> </td>
          <%if(banner.status===0){%>
          <td class="text-success">Listed</td>
          <%}else{%>
          <td class="text-danger">Unlisted</td>
          <%}%>                            
          <td style="color: #0e382e">
            <button data-toggle="modal" data-target="#edit<%=banner._id%>"><i class="fa-solid fa-pen" style="color: #0e382e;"></i></button>
            <%if(banner.status===0){%>
            <button data-toggle="modal" data-target="#delete<%= banner._id %>"><i class="fa-solid fa-ban" style="color: hsl(0, 75%, 46%);"></i></button>
            <%}else{%>
            <button data-toggle="modal" data-target="#delete<%= banner._id %>"><i class="fa-solid fa-ban" style="color: hsl(129, 75%, 46%);"></i></button>
            <%}%>
          </td>
          <div class="modal" id="delete<%= banner._id %>" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <%if(banner.status===0){%>
                    <p class="text-danger text-center">Are sure to unlist the banner?.</p>
                  <%}else{%>
                    <p class="text-danger text-center">Are sure to list the banner?.</p>
                  <%}%>                                    
                </div>
                <div class="modal-footer justify-content-center">
                  <%if(banner.status===0){%>
                    <a href="/admin/listBanner?bannerId=<%=banner._id%>&page=<%=pageNumber%>&query=<%=searchInput%>"><button type="button" class="btn btn-danger">Unlist banner</button></a>
                  <%}else{%>
                    <a href="/admin/listBanner?bannerId=<%=banner._id%>&page=<%=pageNumber%>&query=<%=searchInput%>"><button type="button" class="btn btn-success">List banner</button></a>
                  <%}%>                                                      
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </tr>
        <div class="modal" id="edit<%= banner._id %>" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
          <div class="modal-dialog" role="document">
            <div class="modal-content"  style="width: 100%px;">
              <div class="modal-body" >
                <div class="container mt-1" >
                  <div class="container mt-4">
                    <div class="row">
                      <div class="col-md-12">
                        <h2 class="text-center">Edit Banner</h2>
                        <hr>
                        <form action="/admin/editBanner?bannerId=<%=banner._id%>&page=<%=pageNumber%>&query=<%=searchInput%>" method="post" enctype="multipart/form-data" onsubmit="return validation('<%= banner._id%>')">                          
                          <label for="">Image</label>
                          <img src="<%= banner.image %>" alt="" style="height: 50px;" class="d-block">
                          <input type="file" multiple name="image" class="form-control" id="image<%= banner._id%>">
                          <label for="">Title</label>
                          <textarea name="title" class="d-block" cols="mr-auto" rows="3" style="display: block;width:100%" id="title<%=banner._id%>"><%= banner.title %></textarea>
                          <label for="">Title color</label>
                          <input type="color" class="form-control form-control-color" id="exampleColorInput" value="<%= banner.titleColor%>" title="Choose your color" name="titleColor">
                          <p class="text-center text-danger mt-1" id="pTag<%= banner._id%>"></p>
                          <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-lg mt-3">Submit</button>
                            <button type="button" class="btn btn-primary btn-lg mt-3" data-dismiss="modal">Close</button> 
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%})%>                      
      </tbody>
    </table>    
    <hr>
    <%if(totalPage>0){%>
      <div class="d-flex justify-content-between">
        <div>
          <p>Page <%=pageNumber%> of <%=totalPage%></p>
        </div>
        <div>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <%if(pageNumber>1){%>
                  <a class="page-link" href="/admin/viewBanners?page=<%=pageNumber-1%>&query=<%=searchInput%>"style="color: #0e382e;"  >Previous</a>
                <%}%>
              </li>
              <%if(pageNumber<5){%>
                <% i=1%>
              <%}else if(pageNumber>5&&(pageNumber+4)>=totalPage){%>
                <%i=totalPage-9%>
              <%}else{%>
                <%i=pageNumber-4%>
              <%}%>
              <%for(i,j=1;i<=totalPage&&j<=10;i++,j++){%>
                <%if(i==pageNumber){%>
                  <li class="page-item"><a class="page-link" href="/admin/viewBanners?page=<%=i%>&query=<%=searchInput%>" style="color: white;background-color: #0e382e;"><strong><%=i%></strong></a></li>
                <%}else{%>
                  <li class="page-item"><a class="page-link" href="/admin/viewBanners?page=<%=i%>&query=<%=searchInput%>" style="color: #0e382e;" ><%=i%></a></li>
                <%}%>                        
              <%}%>
              <li class="page-item">
                <%if(pageNumber<totalPage){%>
                  <a class="page-link" href="/admin/viewBanners?page=<%=pageNumber-1%>&query=<%=searchInput%>" style="color: #0e382e;" >Next</a>
                <%}%>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    <%}%>
    <!--------------new product adding------------->
    <div class="modal" id="newProduct" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
      <div class="modal-dialog" role="document">
        <div class="modal-content"  style="width: 100%px;">
          <div class="modal-body" >
            <div class="container mt-1" >
              <div class="container mt-4">
                <div class="row">
                  <div class="col-md-12">
                    <h2 class="text-center">Add new Banner</h2>
                    <hr>
                    <form action="/admin/addBanner" method="post" enctype="multipart/form-data" onsubmit="return validation('NewBanner')">
                      <label for="">Image</label>
                      <input type="file" multiple name="image" class="form-control" id="imageNewBanner">
                      <label for="">Title</label>
                      <textarea name="title" cols="mr-auto"style="display: block;width:100%" id="titleNewBanner"></textarea>
                      <label for="">Title color</label>
                      <input type="color" class="form-control form-control-color" id="exampleColorInput" value="#FFE4C4" title="Choose your color" name="titleColor">
                      <p class="text-center text-danger mt-1" id="pTagNewBanner"></p>
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-lg mt-3">Submit</button>
                        <button type="button" class="btn btn-primary btn-lg mt-3" data-dismiss="modal">Close</button> 
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
</section>
<script>
  function validation(id){
    const image = document.getElementById('image'+id);
    const title = document.getElementById('title'+id).value;
    const pTag = document.getElementById('pTag'+id);
    pTag.innerText=""
    if(!title){
      pTag.innerText="Please fill in all fields";
      return false
    }
    if(id==="NewBanner"&&!image.files[0]){
      pTag.innerText="Please upload an image file.";
      return false
    }
    if(image.files.length>1){
      pTag.innerText="Please upload a single image file.";
      return false
    }
    if(image.files[0]){
      const validExtensions = ['jpg', 'jpeg', 'png', 'gif','webp'];
      const fileExtension = image.files[0].name.split('.').pop().toLowerCase(); 
      if(!validExtensions.includes(fileExtension)){
        pTag.innerText="Please upload an image file.";
        return false
      }
    }    
    return true;        
  }
  const searchInput=document.getElementById('searchInput')
  const suggestionContainer=document.getElementById('suggestionContainer')
  searchInput.addEventListener('input',async function(){
      const query = searchInput.value;
      if(query.length>2){
          const response= await fetch(`/admin/searchSuggestions/banner?query=${searchInput.value}`)
          if(response.ok){
              const result= await response.json()
              suggestionContainer.innerHTML=''
              if(result.searchresult.length>0){
                  result.searchresult.forEach(data=>{
                      const link = document.createElement('a');
                      link.href = `/admin/search/banner?query=${encodeURIComponent(data.title)}`;
                      link.textContent = data.title;
                      link.classList.add("d-block")
                      link.style.color = 'black';
                      link.style.textDecoration = 'none';
                      suggestionContainer.appendChild(link);
                  })
                  suggestionContainer.style.display='block' 
              }
          }            
      }else{
          suggestionContainer.style.display='none'
      } 
  })
  function serachValidation(){
        let validation =false
        if(searchInput.value!=""){
            validation=true
        }
        return validation
    }
  if ("<%=searchInput%>") {
    searchInput.value = "<%=searchInput%>";
  }
</script>
<%- include('../layouts/actionResponse')-%>
<%- include('../layouts/adminFooter.ejs')-%> 
