<%- include('../layouts/adminHeader.ejs')-%>
<section>
    <div>
        <div class="d-flex justify-content-between">
            <div>
                <h4 style="color: #0e382e;"><b>Order Details</b></h4>
            </div>
            <div id="searchContainer">
                <form class="form-inline" action="/admin/search/order" method="GET" onsubmit="return serachValidation()">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query" id="searchInput">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                </form>
                <div id="suggestionContainer" class="text-center text-black" style="display: none;"></div>
              </div>
        </div>
        <table class="table mt-2">
            <thead style="border-bottom: solid #0e382e;border-top: solid #0e382e ">
                <tr style="color: #0e382e;font-weight: bolder;">
                <th scope="col">No</th>
                <th scope="col">User Id</th>
                <th scope="col">Order Id</th>
                <th scope="col">Product name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Payment type</th>
                <th scope="col">Order date</th>
                <th scope="col">Order address</th>
                <th scope="col">Order status</th>
                <th scope="col">Reason</th>
                <th scope="col">Status date</th>
                <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            <% let i=1%>
            <%orderData.forEach((order)=>{%>
                <%order.items.forEach((productData)=>{%>
                <tr >
                    <td style="color: #0e382e"><%= i++ %></td>
                    <td style="color: #0e382e"><%= order.userId.email %></td>
                    <td style="color: #0e382e"><%=order.orderId%></td>
                    <td style="color: #0e382e"><%= productData.product.name %></td>
                    <td style="color: #0e382e">1</td>                    
                    <td style="color: #0e382e">&#8377;<%= productData.price %></td>
                    <td style="color: #0e382e"><%= order.paymentType %></td>
                    <td style="color: #0e382e"><%= order.start_date.toLocaleDateString() %></td>
                    <td style="color: #0e382e"><%=order.address[0].name%>, <%=order.address[0].mobile%>, <%=order.address[0].house%>, <%=order.address[0].locality%>, 
                      <%=order.address[0].city%>, <%=order.address[0].state%>, 
                      <%=order.address[0].landmark%>, <%=order.address[0].pin%></td>
                    <%if(productData.orderStatus=="placed"||productData.orderStatus=="shipped"||productData.orderStatus=="delivered"){%>
                        <td class="text-success"><%= productData.orderStatus %></td>
                    <%}else if(productData.orderStatus=="adminCancelled"||productData.orderStatus=="userCancelled"||productData.orderStatus=="returned"){%>
                        <td class="text-danger"><%= productData.orderStatus %></td>
                    <%}else{%>
                        <td class="text-warning"><%= productData.orderStatus %></td>
                    <%}%>
                    <td style="color: #0e382e"><%= productData.reason %></td>
                    <td style="color: #0e382e"><%= productData.status_date.toLocaleDateString() %></td>
                    <%if(productData.orderStatus=="adminCancelled"||productData.orderStatus=="userCancelled"||productData.orderStatus=="returned"||productData.orderStatus=="delivered"||productData.orderStatus=="returnRquestRejected"){%>
                        <td style="color: #0e382e">
                            <button type="button" class="btn btn-sm" style="background-color: #0e382e;color: white;border-radius: 6px;font-size: 12px;" disabled> No action required</button>
                        </td>
                    <%}else{%>
                        <td style="color: #0e382e">
                            <button data-toggle="modal" data-target="#change<%= productData._id %>" type="button" class="btn btn-sm" style="background-color: #0e382e;color: white;border-radius: 6px;font-size: 12px;"> Change status</button>
                        </td>
                        <div class="modal" id="change<%= productData._id %>" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <form action="/admin/orderStatus?order_id=<%=order._id%>&item_id=<%=productData.product._id%>&unit_id=<%=productData._id%>&page=<%=pageNumber%>&query=<%=searchInput%>" method="post">
                                        <div class="modal-body">
                                            <p class="text-danger text-center">Are sure to chnage the order status?.</p>
                                            <div class="row">
                                                <div class="col-12">
                                                    <select name="status" class="form-select w-100">
                                                        <%if(productData.orderStatus=="placed"||productData.orderStatus=="cancelRquestRejected"){%>
                                                            <option value="shipped">Order shipped</option>
                                                            <option value="adminCancelled">Cancel the order</option>
                                                        <%}else if(productData.orderStatus=="shipped"||productData.orderStatus=="cancelRquestRejected"){%>
                                                            <option value="delivered">Order deleivered</option>
                                                            <option value="adminCancelled">Cancel the order</option>
                                                        <%}else if(productData.orderStatus=="cancelRequest"){%>
                                                            <option value="userCancelled">Accept user cancel request</option>
                                                            <option value="cancelRquestRejected">Reject User cancel request</option>
                                                        <%}else if(productData.orderStatus=="returnRequest"){%>
                                                            <option value="returned">Accept user return request</option>
                                                            <option value="returnRquestRejected">Reject User return request</option>
                                                        <%}%>
                                                    </select>
                                                    <input type="hidden" value="<%= productData.price %>" name="price">
                                                    <input type="hidden" value="<%= productData.reason %>" name="reason">
                                                    <input type="hidden" value="<%= order.userId._id %>" name="userId">
                                                    <input type="hidden" value="<%= order.paymentType %>" name="payment">
                                                </div>
                                            </div>                                   
                                        </div>
                                        <div class="modal-footer justify-content-center">
                                            <button type="submit" class="btn btn-success">Submit changes</button>                              
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>    
                    <%}%>               
                </tr>
                <%})%>
            <%})%> 
            </tbody>
        </table>
        <hr style="width: 100%;">
        <%if(totalPage>0){%>
          <div class="d-flex justify-content-between">
            <div>
              <p>Page <%=pageNumber%> of <%=totalPage%></p>
            </div>
            <div>
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item">
                    <%if(pageNumber>1){%>
                      <a class="page-link" href="/admin/viewOrders?page=<%=pageNumber-1%>&query=<%=searchInput%>"style="color: #0e382e;"  >Previous</a>
                    <%}%>
                  </li>
                  <%if(pageNumber<5){%>
                    <% i=1%>
                  <%}else if(pageNumber>5&&(pageNumber+4)>=totalPage){%>
                    <%i=totalPage-9%>
                  <%}else{%>
                    <%i=pageNumber-4%>
                  <%}%>
                  <%for(i,j=1;i<=totalPage&&j<=10;i++,j++){%>
                    <%if(i==pageNumber){%>
                      <li class="page-item"><a class="page-link" href="/admin/viewOrders?page=<%=i%>&query=<%=searchInput%>" style="color: white;background-color: #0e382e;"><strong><%=i%></strong></a></li>
                    <%}else{%>
                      <li class="page-item"><a class="page-link" href="/admin/viewOrders?page=<%=i%>&query=<%=searchInput%>" style="color: #0e382e;" ><%=i%></a></li>
                    <%}%>                        
                  <%}%>
                  <li class="page-item">
                    <%if(pageNumber<totalPage){%>
                      <a class="page-link" href="/admin/viewOrders?page=<%=pageNumber-1%>&query=<%=searchInput%>" style="color: #0e382e;" >Next</a>
                    <%}%>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        <%}%>              
    </div>        
</section>
<script>
      const searchInput=document.getElementById('searchInput')
        const suggestionContainer=document.getElementById('suggestionContainer')
        searchInput.addEventListener('input',async function(){
            const query = searchInput.value;
            if(query.length>2){
                const response= await fetch(`/admin/searchSuggestions/order?query=${searchInput.value}`)
                if(response.ok){
                    const result= await response.json()
                    suggestionContainer.innerHTML=''
                    if(result.searchresult.length>0){
                        result.searchresult.forEach(data=>{
                            const link = document.createElement('a');
                            link.href = `/admin/search/order?query=${encodeURIComponent(data.orderId)}`;
                            link.textContent = data.orderId;
                            link.classList.add("d-block")
                            link.style.color = 'black';
                            link.style.textDecoration = 'none';
                            suggestionContainer.appendChild(link);
                        })
                        suggestionContainer.style.display='block' 
                    }
                }            
            }else{
                suggestionContainer.style.display='none'
            } 
        })
        if ("<%=searchInput%>") {
            searchInput.value = "<%=searchInput%>";
        }
</script>    
    <%- include('../layouts/actionResponse')-%>     
<%- include('../layouts/adminFooter.ejs')-%> 
