<%- include('../layouts/adminHeader.ejs')-%> 
    <section>
        <div class="container">
          <div class="d-flex justify-content-between">
              <div>
                <h4 style="color: #0e382e;"><b>Category Details</b></h4>
              </div>
              <div id="searchContainer">
                <form class="form-inline" action="/admin/search/category" method="GET" onsubmit="return serachValidation()">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query" id="searchInput">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                </form>
                <div id="suggestionContainer" class="text-center text-black" style="display: none;"></div>
              </div>
              <div>
                <button data-toggle="modal" data-target="#newcategory" type="button" class="btn add-new" style="background-color: #0e382e;color: white;border-radius: 6px;"><i class="fa fa-plus"></i> Add New Category</button>
              </div>
          </div>
            <table class="table mt-2">
                <thead style="border-bottom: solid #0e382e;border-top: solid #0e382e ">
                  <tr style="color: #0e382e;font-weight: bolder;">
                    <th scope="col">No</th>
                    <th scope="col">Name of the Category</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                    <% let i=1%>
                    <% categories.forEach(category=>{%>
                       
                        <tr >
                            <td style="color: #0e382e"><%= i++ %></td>
                            <td style="color: #0e382e"><%= category.name %></td>
                            <%if(category.status===0){%>
                              <td class="text-success">Listed</td>
                            <%}else{%>
                              <td class="text-danger">Unlisted</td>
                            <%}%>                            
                            <td style="color: #0e382e">
                              <button data-toggle="modal" data-target="#edit<%=category._id%>"><i class="fa-solid fa-pen" style="color: #0e382e;"></i></button>
                              <%if(category.status===0){%>
                                <button data-toggle="modal" data-target="#delete<%= category._id %>"><i class="fa-solid fa-ban" style="color: hsl(0, 75%, 46%);"></i></button>
                              <%}else{%>
                                <button data-toggle="modal" data-target="#delete<%= category._id %>"><i class="fa-solid fa-ban" style="color: hsl(129, 75%, 46%);"></i></button>
                              <%}%>
                              
                            </td>
                            <div class="modal" id="delete<%= category._id %>" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-body">
                                    <%if(category.status===0){%>
                                      <p class="text-danger text-center">Are sure to unlist the category?.</p>
                                    <%}else{%>
                                      <p class="text-danger text-center">Are sure to list the category?.</p>
                                    <%}%>                                    
                                  </div>
                                  <div class="modal-footer justify-content-center">
                                    <%if(category.status===0){%>
                                      <a href="/admin/listCategory?categoryId=<%= category._id %>&page=<%=pageNumber%>&query=<%=searchInput%>"><button type="button" class="btn btn-danger">Unlist category</button></a>
                                    <%}else{%>
                                      <a href="/admin/listCategory?categoryId=<%= category._id %>&page=<%=pageNumber%>&query=<%=searchInput%>"><button type="button" class="btn btn-success">List category</button></a>
                                    <%}%>                              
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </tr>
                          <div class="modal" id="edit<%= category._id %>" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                            <div class="modal-dialog" role="document">
                              <div class="modal-content"  style="width: 100%px;">
                                <div class="modal-body" >
                                  <div class="container mt-1" >
                                    <div class="container mt-4">
                                      <div class="row">
                                        <div class="col-md-12">
                                          <h2 class="text-center">Edit Category</h2>
                                          <form action="/admin/editCategory?categoryId=<%=category._id%>&page=<%=pageNumber%>&query=<%=searchInput%>" method="post">
                                            <label for="">Name</label>
                                            <input type="text" name="name" class="form-control" value="<%=category.name%>">
                                            <div class="text-center">
                                              <button type="submit" class="btn btn-primary btn-lg mt-3">Submit</button>
                                              <button type="button" class="btn btn-primary btn-lg mt-3" data-dismiss="modal">Close</button> 
                                            </div>
                                          </form>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                    <%})%>                           
                </tbody>
              </table>
              <hr>
              <%if(totalPage>0){%>
                <div class="d-flex justify-content-between">
                  <div>
                    <p>Page <%=pageNumber%> of <%=totalPage%></p>
                  </div>
                  <div>
                    <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-center">
                        <li class="page-item">
                          <%if(pageNumber>1){%>
                            <a class="page-link" href="/admin/viewCategory?page=<%=pageNumber-1%>&query=<%=searchInput%>"style="color: #0e382e;"  >Previous</a>
                          <%}%>
                        </li>
                        <%if(pageNumber<5){%>
                          <% i=1%>
                        <%}else if(pageNumber>5&&(pageNumber+4)>=totalPage){%>
                          <%i=totalPage-9%>
                        <%}else{%>
                          <%i=pageNumber-4%>
                        <%}%>
                        <%for(i,j=1;i<=totalPage&&j<=10;i++,j++){%>
                          <%if(i==pageNumber){%>
                            <li class="page-item"><a class="page-link" href="/admin/viewCategory?page=<%=i%>&query=<%=searchInput%>" style="color: white;background-color: #0e382e;"><strong><%=i%></strong></a></li>
                          <%}else{%>
                            <li class="page-item"><a class="page-link" href="/admin/viewCategory?page=<%=i%>&query=<%=searchInput%>" style="color: #0e382e;" ><%=i%></a></li>
                          <%}%>                        
                        <%}%>
                        <li class="page-item">
                          <%if(pageNumber<totalPage){%>
                            <a class="page-link" href="/admin/viewCategory?page=<%=pageNumber-1%>&query=<%=searchInput%>" style="color: #0e382e;" >Next</a>
                          <%}%>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              <%}%>
              <div class="modal" id="newcategory" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                <div class="modal-dialog" role="document">
                  <div class="modal-content"  style="width: 100%px;">
                    <div class="modal-body" >
                      <div class="container mt-1" >
                        <div class="container mt-4">
                          <div class="row">
                            <div class="col-md-12">
                              <h2 class="text-center">Add new category</h2>
                              <form action="/admin/addCategory" method="post">
                                <label for="">Name</label>
                                <input type="text" name="name" class="form-control" placeholder="Name of the category">
                                <div class="text-center">
                                  <button type="submit" class="btn btn-primary btn-lg mt-3">Submit</button>
                                  <button type="button" class="btn btn-primary btn-lg mt-3" data-dismiss="modal">Close</button> 
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                            
        </div>
    </section>
    <script>
      const searchInput=document.getElementById('searchInput')
      const suggestionContainer=document.getElementById('suggestionContainer')
      searchInput.addEventListener('input',async function(){
          const query = searchInput.value;
          if(query.length>2){
              const response= await fetch(`/admin/searchSuggestions/category?query=${searchInput.value}`)
              if(response.ok){
                  const result= await response.json()
                  suggestionContainer.innerHTML=''
                  if(result.searchresult.length>0){
                      result.searchresult.forEach(data=>{
                          const link = document.createElement('a');
                          link.href = `/admin/search/category?query=${encodeURIComponent(data.name)}`;
                          link.textContent = data.name;
                          link.classList.add("d-block")
                          link.style.color = 'black';
                          link.style.textDecoration = 'none';
                          suggestionContainer.appendChild(link);
                      })
                      suggestionContainer.style.display='block' 
                  }
              }            
          }else{
              suggestionContainer.style.display='none'
          } 
      })
      function serachValidation(){
        let validation =false
        if(searchInput.value!=""){
            validation=true
        }
        return validation
    }
      if ("<%=searchInput%>") {
        searchInput.value = "<%=searchInput%>";
      }
    </script>
    <%- include('../layouts/actionResponse')-%>
<%- include('../layouts/adminFooter.ejs')-%> 
